/**
* Open-Sans
*/
@font-face {
  font-family: "Open-Sans";
  src: url("../statics/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open-Sans-Bold";
  src: url("../statics/fonts/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open-Sans-Light";
  src: url("../statics/fonts/Open_Sans/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Open-Sans-Italic";
  src: url("../statics/fonts/Open_Sans/OpenSans-Italic.ttf");
}

@font-face {
  font-family: "Open-Sans-Semibold";
  src: url("../statics/fonts/Open_Sans/OpenSans-Semibold.ttf");
}

/**
* Lato
*/
@font-face {
  font-family: "Lato";
  src: url("../statics/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../statics/fonts/Lato/Lato-Bold.ttf");
}

/**
* Crimson-Text-Serif
*/
@font-face {
  font-family: "Crimson-Text";
  src: url("../statics/fonts/Crimson_Text/CrimsonText-Roman.ttf");
}

@font-face {
  font-family: "Crimson-Text-Bold";
  src: url("../statics/fonts/Crimson_Text/CrimsonText-Bold.ttf");
}

/**
* Audiowide
*/
@font-face {
  font-family: "Audiowide";
  src: url("../statics/fonts/Audiowide/Audiowide-Regular.ttf");
}
