@import "../../../../styles/constants";
@import "../../../../styles/breakdown";


.container {
  color: $text-color-primary;

  .header {
    min-height: 4.5rem;

    .title {
      width: 100%;
      margin: 0;
      font: 4rem/1.4 'Lato-Bold', sans-serif;
      color: $text-color-primary;
    }

    .link {
      text-decoration: none;
    }

    .toolbar {
      margin-top: 1rem;
      padding: 0.1rem 0.3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font: 1.5rem/1.5 'Lato', sans-serif;
      color: $text-color-third;

      span {
        display: flex;
        align-items: center;
        &.tool {
          margin-left: 1rem;
        }
      }

      .toolbarLeft {
        display: flex;
        align-items: center;

        .author {
          @include mixin-mq(small) {
            display: none;
          }
        }
      }

      .toolbarRight {
        display: flex;
        align-items: center;
        font-family: 'Lato', sans-serif;
      }
    }
  }

  .main {
    margin-top: 4rem;
    font: 2.4rem/1.5 'Crimson-Text', serif;
    color: $text-color-secondary;

    pre {
      padding: 2rem;
    }
  }
}
