@import "../../styles/constants";


.container {
  width: 100%;
  font: 1.5rem/1.4 'Lato',sans-serif;

  .item {
    width: 99%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(45,183,245,0.3);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0 rgba(45,183,245,0.3);

    .header {
      width: 100%;
      font: 1.5rem/1 'Lato',sans-serif;
      border-bottom: 1px solid $text-color-grey;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .avatar {
        font-size: 2.5rem;
        line-height: 0;
        color: $link-color-light;
      }

      .authorAndTime {
        width: 100%;
        padding: 0 0 .3rem 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .author {
          font-weight: bold;
        }
        .createdAt {
          font-size: 1.3rem;
          line-height: 1.3;
        }
      }
    }

    .body {
      padding-top: 1rem;
      font: 1.7rem/1.4 'Lato',sans-serif;
    }
  }
}
