.container {
  font: 1.8rem 'Open-Sans', sans-serif, serif;
  color: #555555;

  .header {
    margin-bottom: 1rem;

    .url {
      width: 50%;
      margin-top: 0.5rem;
      font-weight: bold;
    }

    .toolbar {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      > span {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        padding: 0.5rem;
      }

      .author {
        width: 13rem;
        margin-right: 0.2rem;
      }
      .readLength {
        width: 9rem;
        margin-right: 2rem;
      }
      .editButton {
        cursor: pointer;
      }
    }
  }

  .title {
    font-weight: bold;
  }

  .content {
    margin-top: 1rem;
  }

}

.addonBefore {
  width: 2.5rem;
  display: inline-block;
}
