@import "../../styles/constants";
@import "../../styles/breakdown";


.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $bg-color-secondary-transparent;
  z-index: $z-index-navbar;

  @include mixin-mq(medium) {
    padding: 0 2rem;
  }

  @include mixin-mq(small) {
    padding: 0 1rem;
  }
}
